template(name="footer")
  footer
    p
      a(href="http://district.meteor.com", target="_blank") District
      | was created by 
      a(href="http://ciara.io", target="_blank") ciara
      | for 
      a(href="http://meteor.academy", target="_blank") Meteor Academy
