template(name="addImage")
  form
    input(type="text", placeholder="Title")
    input(type="file", placeholder="Browse...")
    input(type="text", placeholder="Or URL")
    input(type="submit", value="Add Image!")
